doctype html
html(lang="ja")
	head
		title test
		link(href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet")
	body
		main
			.timer 00:00
			.button-area
				button.btn.btn-inline.js-timer-btn(type='button' data-status='start') START
				button.btn.btn-inline.js-reset-btn(type='button') RESET
			ul